@charset "UTF -8";
body {       
      background-image: linear-gradient(to top,rgb(165, 0, 0),
      rgb(97, 0, 0),rgb(92, 0, 0)




      );
      font-family:Verdana;
       font-size: 1em;
       font-weight: bolder;
       font-style: italic;
       text-decoration: underline;
}    
main{
     background-color: rgb(12, 26, 88);
     border-radius: 20px;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.216);
     width: 300px;
     padding: 10px;
     margin:auto;
    size: 20px;
    height: 1555px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border-color: rgb(142, 50, 0);
    border-width: 10px;
    border-style: solid;

    margin-top: 20px;
   
    margin-bottom: 40px;
    

}



h1{
  color:rgb(255, 255, 255);
  background-color: rgb(73, 100, 250);
  font-family: "work sans,",sans-serif;
       font-size: 2em;
       font-weight: bolder;
       font-style: italic;
       text-decoration: underline;
       text-align: center;
}

h2{
  color:black;
  text-align: center;
  background-color: rgb(211, 89, 23);
}

p{
text-align: justify;
}
img{
  margin-left: auto;
  width: 200px;
  padding: 20px;


}
p{
  color: white;
}
h3{
  color: white;
}
li{
color: white;

}
